.titulo{
    background-image: url(folhas-laranjas.jpg);
    color: #fff;
}
.conteudo{
    background-color: #FF7F27;
}
.conteudo h2{
    color: #fff;
}
.conteudo p{
    color: #fff;
}
.onda{
    background-image: url(laranja.png);
}